body {
    background-image: url("sunset.png");
    background-size:100%;
    font-size: x-large;
     }

     div {
        font-family: 'Courier New', Courier, monospace; 
        border: 2px solid rgb(184, 156, 17);
        border-radius: 6px;
        background-color: rgb(184, 156, 17);
        text-shadow: 2px 2px rgb(255, 202, 97); 
        } 

        h1 {
            font-family: 'Courier New', Courier, monospace; 
            color: rgb(255, 254, 254); 
            text-transform: uppercase;
            text-shadow: 2px 2px rgb(0, 0, 0); 
            }

            p {
                font-family: 'Courier New', Courier, monospace; 
                color: rgb(255, 255, 255);
                text-shadow: 2px 2px rgb(0, 0, 0);  
                }  
